body {
  font-family: Arial, sans-serif;
  background: #eef2f7;
  text-align: center;
}

.container {
  margin-top: 120px;
  background: white;
  padding: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px gray;
}

button {
  padding: 10px 20px;
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 6px;
}